.pad-bottom {
  margin-bottom: 60px;
}

.pad-bottom-half {
  margin-bottom: 30px;
}

.pad-bottom-quarter {
  margin-bottom: 15px;
}

.pad-top {
  margin-top: 60px;
}

.pad-top-half {
  margin-top: 30px;
}

.pad-top-quarter {
  margin-top: 15px;
}
